# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

### **Objectives:**
- List popular languages in Data Science
- List some Data Science Tools
- List some common libraries in Data Science

### Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Scala
4. Julia
5. Java

### Some of the commonly used libraries used by Data Scientists include:
- scikit-learn
-seaborn
-matplotlib
-plotly
- pandas

|Data Science Tools|
|----------|
|JupyterLab|
|JupyterNotebook|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic expression to multiply then add integer
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Irene Uwerikowe